* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFEDD5;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

header {
    padding: 32px 0;
    text-align: center;
}

header p {
    margin-top: 5px;
}

section {
    margin-bottom: 24px;
}

header,
section {
    max-width: 350px;
    margin: 0 auto;
}

header h1 {
    margin-bottom: 4px;
    font-size: 28px;
}

header h1 span {
    color: #995000;
}

header p {
    color: rgba(0, 0, 0, 0.7);
}

section h2 {
    background-color: #FED7AA;
    padding: 8px 16px;
    text-align: center;
    margin-bottom: 24px;
    font-size: 18px;
}

ul li {
    margin-bottom: 16px;
    display: flex;
}

li.details {
    max-width: 240px;
}

.details h3 {
    margin-bottom: 8px;
    font-size: 16px;
}

.details p {
    color: rgba(0, 0, 0, 0.6); /* 60% */
    font-size: 14px;
    line-height: 21px;
}

h1, h2, h3, .price {
    font-family: 'Roboto', serif;
    text-transform: uppercase;
    color: #2D2C2A;
}
